.ginputs{
width: 100%;
height: 30px;
float: left;
display: block;
padding-top: 10px;
}

.gsearch_text_input{
margin-top: 0px!important;
float:left;
margin-left:20px;
}

.gsearch_input_button{
float:left;
margin-left: 10px;
}